<!doctype html>
<html>
<a href="/to_add" class="button">Add new users</a>&nbsp;&nbsp;
<a href="/to_update" class="button">Update users</a>&nbsp;&nbsp;
<a href="/to_delete" class="button">Delete users</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a href="/rank1" class="button">Ranking Criteria 1</a>&nbsp;&nbsp;&nbsp;
<a href="/rank2" class="button">Ranking Criteria 2</a>&nbsp;&nbsp;&nbsp;
<a href="/rank3" class="button">Ranking Criteria 3</a>&nbsp;&nbsp;&nbsp;
<a href="/rank4" class="button">Ranking Criteria 4</a>&nbsp;&nbsp;&nbsp;
<a href="/rank5" class="button">Ranking Criteria 5</a>&nbsp;&nbsp;&nbsp;
<a href="/rank6" class="button">Ranking Criteria 6</a>&nbsp;&nbsp;&nbsp;

<h1 align = "center"><u> GitHub User Info </u></h1>

  <body>
    <table align = "center">
	     <tr>
		       <th>Git usernames</th>
		       <th>Repository names</th>
	     </tr>
	      {% for k, v in dat.items() %}
		      <tr>
			         <td>{{ k }}</td>
			         <td>{{ v }}</td>
		      </tr>
	      {% endfor %}
    </table>

  </body>

</html>
